In [22]:
import pandas as pd
import matplotlib.pyplot as plt

#transformers to impute missing data
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#to split the dataset
from sklearn.model_selection import train_test_split

In [4]:
raw_data10= pd.read_excel('copyData Key-Map.xlsx')
raw_data5 = pd.read_excel('copyRRB_Met data_finalized for analysis_CS.xlsx')
raw_data6= pd.read_excel('copyRRB_Demo_for cs.xlsx')

In [5]:
met_data = raw_data5.copy()
met_data.isnull()

,Subj,Age,Gender,Ethnic,BMI,Group,Group2,Visit,TX,Time,...,GLUb,INSb,LogTG,LogGLU,LogIns,HOMA_T0,TG24,GLU24,INS24,HOMA_T24
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1146,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1147,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1148,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df = raw_data10.copy()
df.columns

Index(['Column Name', 'Alternate Name', 'Description', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Rank', 'Data Type'],
      dtype='object')

In [9]:
from builtins import dict

In [10]:
unique_values = df['Column Name'].unique()
unique_values2 = df['Alternate Name'].unique()

In [14]:
data_key_map1 = dict(enumerate(unique_values, start=1))

In [15]:
data_key_map1

{1: 'Subject',
 2: 'Randomization',
 3: 'Consentdate',
 4: 'Age',
 5: 'Visit',
 6: 'ScreenDate',
 7: 'Gender',
 8: 'BMI',
 9: 'Ethnicity',
 10: 'Sequence',
 11: 'Tx',
 12: 'Time',
 13: 'TG',
 14: 'b_TG',
 15: 'N_TG',
 16: 'Chol',
 17: 'b_Chol',
 18: 'N_Chol',
 19: 'Glc',
 20: 'b_Glc',
 21: 'N_Glc',
 22: 'Insulin',
 23: 'b_Ins',
 24: 'N_Ins',
 25: 'HOMA',
 26: 'b_HOMA',
 27: 'HOMACat',
 28: 'HOMAC2',
 29: 'IR',
 30: 'RatioGlcIns',
 31: 'MetS',
 32: 'TAUCGlsCalc',
 33: 'TAUCInsCalc',
 34: 'PosiAUCGlcCalc',
 35: 'PosiAUCInsCalc',
 36: 'Sys1',
 37: 'Sys2',
 38: 'Sys3',
 39: 'SysM',
 40: 'Dia1',
 41: 'Dia2',
 42: 'Dia3',
 43: 'DiaM',
 44: 'HR1',
 45: 'HR2',
 46: 'HR3',
 47: 'HRM',
 48: 'QC1',
 49: 'QC2'}

In [17]:
data_key_map2 = dict(enumerate(unique_values2, start=1))
data_key_map2

{1: 'Subj',
 2: nan,
 3: 'Sex',
 4: 'Ethnic',
 5: 'Seq',
 6: 'Treat',
 7: 'RatioInsGlc',
 8: 'TAUCGlc',
 9: 'TAUCIns',
 10: 'PosiAUCGlc',
 11: 'PosiAUCIns'}

In [36]:
def impute_missing_values (data, strategy= 'most_frequent'):
    imputer = SimpleImputer(strategy=strategy)
    imputer.fit(data)
    imputed_data = imputer.transform(data)
    return (imputed_data)

In [ ]:

user_input = {}
for key, unique_values in data_key_map1.items():
    user_input[key] = input("Enter {}: ".format(key))
    use_imputation = input("Do you want to use the imputation tool? (yes/no): ")
if use_imputation.lower() == "yes":
        
    for key, unique_values in user_input.items():
        if unique_values == "":
            data = met_data [user_input]
            imputed_data = impute_missing_values(data, strategy='most_frequent')

print(imputed_data)

Enter 1:  Treat
Do you want to use the imputation tool? (yes/no):  yes